*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    background: $color-white-0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    @include styleText($color-black-0,$fs-0,$fw-normal);
}
a:hover{
    text-decoration: none;
    transition: all .5s;
}