* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: normal;
}

a:hover {
  text-decoration: none;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.btn-red {
  background-color: linear-gradient(to left, #fb4226, #ce3017 100%);
  padding: 10px 10px;
  border-radius: 4px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
}

.btn-black {
  background-color: #222222;
  padding: 10px 25px;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.btn-showMore {
  border: 1px solid #949494;
  background-color: #fff;
  padding: 8px 25px;
  border-radius: 4px;
  color: #949494;
  font-size: 14px;
  font-weight: normal;
}

.btn-showMore:hover {
  border-color: #fb4226;
  background-color: #fb4226;
  color: #fff;
}

/* HEADER */
header nav {
  width: 100%;
  height: 60px;
  position: fixed;
  z-index: 999;
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

header nav:hover {
  background: white;
}

header .weblogo {
  width: 47px;
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
}

header .header__menu {
  position: absolute;
  top: 50%;
  left: 45%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

header .header__menu .nav-item .nav-link {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
}

header .header__menu .nav-item .nav-link:hover {
  color: #fb4226;
}

header .header__user {
  position: absolute;
  top: 50%;
  right: 5%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header__user .nav-item .nav-link {
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
}

header .header__user .nav-item .nav-link:hover {
  color: #fb4226;
}

header .header__user .account {
  padding-right: 10px;
  border-right: 1px solid #e6e6e6;
}

header .header__user .account img {
  width: 30px;
  border-radius: 30px;
}

header .header__user .account span {
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  padding: 0 8px;
}

header .header__user .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__user .location .location__logo {
  padding-top: 4px;
  padding-left: 8px;
}

header .header__user .location .dropdown .btn {
  color: #949494;
  font-size: 12px;
  font-weight: 700;
}

header .header__user .location .dropdown .btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header .header__user .location .dropdown-menu {
  -webkit-transform: translateY(10%);
          transform: translateY(10%);
}

header .header__user .location .dropdown-menu .dropdown-item {
  line-height: 20px !important;
}

header .header__user .location .selectScroll {
  max-height: 300px;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
}

header .header__user .location .selectScroll::-webkit-scrollbar {
  width: 5px;
}

header .header__user .location .selectScroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

header .header__user .location .selectScroll::-webkit-scrollbar-thumb {
  background: #e6e6e6;
}

header .rightMenu {
  display: none;
}

@media screen and (max-width: 768px) {
  header .header__menu {
    display: none;
  }
  header .header__user {
    display: none;
  }
  header .rightMenu {
    display: block;
    background-color: #fff;
    width: 70%;
    float: right;
    position: absolute;
    top: 0;
  }
  header .rightMenu .account {
    padding-top: 15px;
    padding-left: 15px;
    border-right: 1px solid #e6e6e6;
  }
  header .rightMenu .account img {
    width: 30px;
    border-radius: 30px;
  }
  header .rightMenu .account span {
    color: #949494;
    font-size: 14px;
    font-weight: 700;
    padding: 0 8px;
  }
}

footer {
  background-color: #222222;
  color: #949494;
  padding: 20px 0;
  letter-spacing: 0.5px;
  border-top: 1px solid #949494;
}

footer .container {
  max-width: 80%;
}

footer .footer__content .footer__title {
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

footer .footer__content .footer__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

footer .footer__content .footer__policy .policy__left {
  margin-right: 40px;
}

footer .footer__content .footer__link {
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  display: block;
  line-height: 2.3;
}

footer .footer__content .footer__link:hover {
  color: #fff;
}

footer .footer__content .footer__icon {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
  margin-right: 15px;
  margin-bottom: 15px;
}

footer .footer__content .footer__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .footer__content .footer__apps .footer__systems {
  margin-right: 40px;
}

footer .footer__content .footer__apps .footer__iconMobile {
  width: 30px;
  height: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
}

footer .hrFooter {
  border-top: 1px solid #4a4a4a;
}

footer .footer__copyright .zinoLogo {
  width: 80px;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

footer .footer__copyright .registerLogo {
  width: 130px;
  height: auto;
  float: right;
  padding-bottom: 10px;
}

footer .footer__copyright .footer__info {
  padding-left: 25px;
  margin-bottom: 8px;
}

footer .footer__copyright .footer__info span {
  display: block;
  line-height: 1.8;
  color: #949494;
  font-size: 12px;
  font-weight: 400;
}

footer .footer__copyright .footer__info span:first-child {
  color: #fff;
}

@media screen and (max-width: 1200px) {
  footer .container {
    max-width: 90% !important;
  }
  footer .footer__content .footer__policy .footer__link {
    color: blue;
  }
}

@media screen and (max-width: 992px) {
  footer .container {
    max-width: 94% !important;
  }
  footer .footer__title,
  footer .policy__left,
  footer .footer__partners,
  footer .footer__systems {
    display: none;
  }
  footer .policy__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  footer .policy__right .footer__link {
    margin: 0 8px;
  }
  footer .footer__copyright .footer__info {
    text-align: center;
  }
  footer .footer__content .footer__policy .policy__right .footer__link {
    color: red;
  }
}

@media screen and (max-width: 768px) {
  footer .container {
    max-width: 100% !important;
  }
  footer .container .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .footer__policy,
  footer .footer__apps {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer__copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  footer .footer__copyright .registerLogo {
    float: unset;
  }
  footer .hrFooter {
    margin-top: unset;
  }
  footer .footer__content .footer__policy .policy__right .footer__link {
    color: pink;
  }
}

.Login_content {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/img/poster.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/poster.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Login_content .Login_loginPic {
  width: 60%;
  height: 60%;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 7px 10px 5px gray;
          box-shadow: 5px 7px 10px 5px gray;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Login_content .Login_loginPic .Login_pic {
  width: 60%;
  height: 100%;
  background-image: url(../assets/img/movie1.gif);
  background-position: center;
  background-size: cover;
}

.Login_content .Login_loginPic .Login_login {
  height: 100%;
  width: 40%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.Login_content .Login_loginPic .Login_login .form-group p {
  text-align: left;
}

.Login_content .Login_loginPic .Login_login .form-group .formLogin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 4px 15px;
  background: #f0f0f0;
}

.Login_content .Login_loginPic .Login_login .form-group .formLogin i {
  color: #acacac;
}

.Login_content .Login_loginPic .Login_login .form-group .formLogin input {
  background: none;
  outline: none;
  border: none;
}

.Login_content .Login_loginPic .Login_login .form-group .formLogin input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Login_content .Login_loginPic .Login_login .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Login_content .Login_loginPic .Login_login .social-media {
  padding-top: 20px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.Login_content .Login_loginPic .Login_login .social-media a {
  width: 70px;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Login_content .Login_loginPic .Login_login .social-media a .social-icon {
  height: 40px;
  width: 40px;
  border: 1px solid transparent;
  border-radius: 50%;
  line-height: 40px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.Login_content .Login_loginPic .Login_login .social-media a .social-icon:hover {
  height: 60px;
  width: 60px;
  line-height: 60px;
}

.Login_content .Login_loginPic .Login_login .social-media a .fa-facebook-f {
  color: white;
  background: #1774d4;
}

.Login_content .Login_loginPic .Login_login .social-media a .fa-google-plus-g {
  color: white;
  background: #e83b14;
}

.Login_content .Login_loginPic .Login_login .social-media a .fa-twitter {
  color: white;
  background: #1da1f2;
}

.Login_content .Login_loginPic .Login_login .social-media a .fa-linkedin-in {
  color: white;
  background: #da2aa4;
}

@media only screen and (max-width: 375px) {
  .Login_content .Login_loginPic {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .Login_content .Login_loginPic .Login_pic {
    display: none;
  }
  .Login_content .Login_loginPic .Login_login {
    width: 100%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .Login_content .Login_loginPic {
    width: 70%;
    height: 50%;
  }
  .Login_content .Login_loginPic .Login_pic {
    width: 40%;
  }
  .Login_content .Login_loginPic .Login_login {
    width: 60%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .Login_content .Login_loginPic {
    width: 80%;
    height: 50%;
  }
  .Login_content .Login_loginPic .Login_pic {
    width: 50%;
  }
  .Login_content .Login_loginPic .Login_login {
    width: 50%;
  }
}

.SignUp_content {
  height: 1024px;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../assets/img/poster.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/poster.jpg);
  background-position: center;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SignUp_content .SignUp_loginPic {
  width: 60%;
  height: 70%;
  background: white;
  border-radius: 20px;
  -webkit-box-shadow: 5px 7px 10px 5px gray;
          box-shadow: 5px 7px 10px 5px gray;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.SignUp_content .SignUp_loginPic .SignUp_pic {
  width: 60%;
  height: 100%;
  background-image: url(../assets/img/movie2.gif);
  background-position: center;
  background-size: cover;
}

.SignUp_content .SignUp_loginPic .SignUp_login {
  width: 40%;
  text-align: center;
  padding: 20px;
}

.SignUp_content .SignUp_loginPic .SignUp_login .form-group p {
  text-align: left;
}

.SignUp_content .SignUp_loginPic .SignUp_login .form-group .formSigup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 20px;
  padding: 4px 15px;
  background: #f0f0f0;
}

.SignUp_content .SignUp_loginPic .SignUp_login .form-group .formSigup i {
  color: #acacac;
}

.SignUp_content .SignUp_loginPic .SignUp_login .form-group .formSigup input {
  background: none;
  outline: none;
  border: none;
}

.SignUp_content .SignUp_loginPic .SignUp_login .form-group .formSigup input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media only screen and (max-width: 375px) {
  .SignUp_content .SignUp_loginPic {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .SignUp_content .SignUp_loginPic .SignUp_pic {
    display: none;
  }
  .SignUp_content .SignUp_loginPic .SignUp_login {
    width: 100%;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .SignUp_content .SignUp_loginPic {
    width: 70%;
    height: 60%;
  }
  .SignUp_content .SignUp_loginPic .SignUp_pic {
    width: 40%;
  }
  .SignUp_content .SignUp_loginPic .SignUp_login {
    width: 60%;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .SignUp_content .SignUp_loginPic {
    width: 80%;
    height: 50%;
  }
  .SignUp_content .SignUp_loginPic .SignUp_pic {
    width: 50%;
  }
  .SignUp_content .SignUp_loginPic .SignUp_login {
    width: 50%;
  }
}

.PersonalInfo_conent .personalInfo_banner {
  background-image: url(../assets/img/banner.jpg);
  background-size: cover;
  background-position: center;
  height: 500px;
  width: 100%;
}

.PersonalInfo_conent .personalInfo_info {
  margin: 50px auto;
}

.PersonalInfo_conent .personalInfo_info .nav-tabs {
  margin-left: 40px;
  border: none;
}

.PersonalInfo_conent .personalInfo_info .nav-tabs .nav-link {
  border-top-right-radius: 24px;
  background: #dad8d8 !important;
  color: black !important;
}

.PersonalInfo_conent .personalInfo_info .nav-tabs .nav-link:focus {
  background: #226bb5 !important;
  color: white !important;
}

.PersonalInfo_conent .personalInfo_info .personal_information {
  padding: 25px;
  border: 1px solid gray;
  width: 100%;
}

.PersonalInfo_conent .personalInfo_info .personal_information .personalInfo_left, .PersonalInfo_conent .personalInfo_info .personal_information .personalInfo_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  word-wrap: break-word;
}

.PersonalInfo_conent .personalInfo_info .personal_information .personalInfo_left p, .PersonalInfo_conent .personalInfo_info .personal_information .personalInfo_right p {
  font-weight: bold;
  font-size: 18px;
}

.PersonalInfo_conent .personalInfo_info .personal_information .personalInfo_left p span, .PersonalInfo_conent .personalInfo_info .personal_information .personalInfo_right p span {
  font-weight: normal;
  font-size: 14px;
}

.PersonalInfo_conent .personalInfo_info .history_booking {
  border: 1px solid gray;
  padding: 25px;
  width: 100%;
}

.PersonalInfo_conent .personalInfo_info .history_booking .history_booking_right .info_ticket img {
  width: 150px;
  height: 150px;
}

.PersonalInfo_conent .personalInfo_info .history_booking .history_booking_right .info_ticket .info_ticket_text .theater_name {
  color: black;
  font-size: 24px;
  font-weight: bold;
}

.PersonalInfo_conent .personalInfo_info .history_booking .history_booking_right .info_ticket .info_ticket_text .movie_name {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.PersonalInfo_conent .personalInfo_info .history_booking .history_booking_right .info_ticket .info_ticket_text .movie_nameBinding {
  color: red;
  font-size: 20px;
  font-weight: normal;
}

.PersonalInfo_conent .personalInfo_info .history_booking .history_booking_right .info_ticket .info_ticket_text .theater_chair {
  color: black;
  font-size: 20px;
  font-weight: normal;
}

@media only screen and (max-width: 375px) {
  .PersonalInfo_conent .personalInfo_info .personal_title {
    margin-left: 0;
  }
  .PersonalInfo_conent .personalInfo_info .personal_information_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .PersonalInfo_conent .personalInfo_info .personal_information_menu .personalInfo_left, .PersonalInfo_conent .personalInfo_info .personal_information_menu .personalInfo_right {
    max-width: 100%;
  }
  .PersonalInfo_conent .personalInfo_info .history_booking {
    border: none;
  }
  .PersonalInfo_conent .personalInfo_info .history_booking .history_booking_content {
    border: 1px solid;
    padding: 5px;
  }
  .PersonalInfo_conent .personalInfo_info .history_booking .info_ticket {
    margin: 0 !important;
  }
  .PersonalInfo_conent .personalInfo_info .history_booking .info_ticket img {
    display: none;
  }
  .PersonalInfo_conent .personalInfo_info .history_booking .info_ticket .info_ticket_text {
    margin: 0 !important;
  }
}

@media only screen and (min-width: 376px) and (max-width: 768px) {
  .PersonalInfo_conent .personalInfo_info .history_booking .history_booking_right img {
    width: 50%;
  }
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-100px);
            transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */