/* HEADER */
header {
    nav {
        width: 100%;
        height: 60px;
        position: fixed;
        z-index: 999;
        background: rgba(255, 255, 255, 0.95);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
        &:hover{
            background: rgb(255, 255, 255);  
        }
    }

    .weblogo {
        width: 47px;
        transform: translateX(20%);
    }

    .header__menu {
        position: absolute;
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
        .nav-item .nav-link {
            @include styleText($color-black-1, $fs-2, $fw-2);
            &:hover {
                color: $color-red-0;
            }
        }
    }

    .header__user {
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        display: flex;
        justify-content: flex-end;
        .account {
            padding-right: $pd-2;
            border-right: 1px solid #e6e6e6;
            img {
                width: 30px;
                border-radius: 30px;
            }
            span {
                @include styleText($color-gray-0, $fs-1, $fw-2);
                padding: 0 $pd-1;
            }
        }

        .location {
            display: flex;
            .location__logo{
                padding-top: $pd-0;
                padding-left: $pd-1;
            }
            .dropdown {
                .btn {
                    @include styleText($color-gray-0, $fs-1, $fw-2);
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
            }

            .dropdown-menu {
                transform: translateY(10%);
                .dropdown-item {
                    line-height: 20px !important;
                }
            }
            .selectScroll {
                max-height: 300px;
                overflow-y: scroll;
                /* width */
                &::-webkit-scrollbar {
                    width: 5px;
                }

                /* Track */
                &::-webkit-scrollbar-track {
                    background: #f1f1f1;
                }

                /* Handle */
                &::-webkit-scrollbar-thumb {
                    background: $color-gray-1;
                }
            }
        }
    }
    .rightMenu{
        display: none;
    }
}

@include responsive("medium"){
    header{
        .header__menu{
            display: none;
        }
        .header__user{
            display: none;
        }
        .rightMenu{
            display: block;
            background-color: $color-white-0;
            width: 70%;
            float: right;
            position: absolute;
            top: 0;
            // left: 30%;
            .account {
                padding-top: $pd-3 ;
                padding-left: $pd-3;
                border-right: 1px solid #e6e6e6;
                img {
                    width: 30px;
                    border-radius: 30px;
                }
                span {
                    @include styleText($color-gray-0, $fs-2, $fw-2);
                    padding: 0 $pd-1;
                }
            }
        }
    }
}



