.PersonalInfo_conent {
   .personalInfo_banner{
       background-image: url(../assets/img/banner.jpg);
       background-size: cover;
       background-position: center;
       height: 500px;
       width: 100%;
   }
    .personalInfo_info {
        .nav-tabs {
            margin-left: $mg-2 * 2;
            border: none;
            .nav-link {
                border-top-right-radius: $fs-5;
                background: rgb(218, 216, 216) !important;
                color: black !important;
                &:focus {
                    background: #226bb5 !important;
                    color: white !important;
                }
            }
        }
        margin: 50px auto;
        .personal_information {
            padding: $pd-5;
            border: 1px solid gray;
            width: 100%;
            .personalInfo_left, .personalInfo_right{
                display: flex;
                flex-direction: column;
                word-wrap: break-word;
                p{
                    font-weight: bold;
                    font-size: $fs-4;
                    span{
                        font-weight: normal;
                        font-size: $fs-2;
                    }
                }
            }
        }
        .history_booking {
            border: 1px solid gray;
            padding: $pd-5;
            width: 100%;
        }
    }
}
@include responsive("small") {
    .personalInfo_info {
        .nav-tabs {
            margin-left: 0 !important;
        }
        .personal_information_row{
            flex-direction: column !important;
            .personalInfo_left, .personalInfo_right{
                max-width: 100%;
            }
        }
    }
}
