// .SignUp_content{
//     height: 100%;
//     background-image: url(../assets/img/poster.jpg);
//     background-position: center;
//     background-size: cover;
//     .overlay{
//         height: 100%;
//         width: 100%;
//         background-color: rgba(0, 0, 0, 0.611);
//     }
// }
// .SignUp_loginPic {
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%,-50%);
//     width: 60%;
//     margin: auto;
//     display: flex;
//     background: rgb(255, 255, 255);
//     border-radius: 20px;
//     box-shadow: 5px 7px 10px 5px gray;
//     overflow: hidden;
//     .SignUp_pic {
//         width: 60%;
//         background-image: url(../assets/img/neon.jpg);
//         background-position: center;
//         background-size: cover;
//     }
//     .SignUp_login {
//         width: 40%;
//         text-align: center;
//         padding: 15px;
//         margin: auto;
//         hr {
//             height: 3px;
//             border-radius: 15%;
//             background-color: white;
//         }
//         .title {
//             font-weight: bold;
//             text-align: left;
//             font-size: 20px;
//             margin: 0;
//             padding: 0;
//         }
//         .error{
//             text-align: left;
//         }
//     }
// }
// @media only screen and (max-width: 375px){
//     .SignUp_loginPic{
//         height: 100%;
//         width: 100%;
//         border-radius: 0px;
//         .SignUp_pic{
//             display: none
//         }
//         .SignUp_login{
//             width: 100% !important;
//         }
//     }
// }
// @media only screen and (min-width: 376px) and (max-width: 768px){
//     .SignUp_loginPic{
//         width: 70%;
//         height: 80%;
//         .SignUp_pic{
//             display: none
//         }
//         .SignUp_login{
//             width: 100% !important;
//         }
//     }
// }
// @media only screen and (min-width: 769px) and (max-width: 1024px){
//     .SignUp_loginPic{
//         width: 80%;
//         height: 80%;
//         .SignUp_pic{
//             width: 35%;
//         }
//         .SignUp_login{
//             width: 65%;
//         }
//     }
// }

.SignUp_content {
    height: 1024px;
    width: 100%;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/img/poster.jpg);
    background-position: center;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: center;
    .SignUp_loginPic{
        width: 60%;
        height: 70%;
        background: rgb(255, 255, 255);
        border-radius: 20px;
        box-shadow: 5px 7px 10px 5px gray;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        .SignUp_pic{
            width: 60%;
            height: 100%;
            background-image: url(../assets/img/men.jpg);
            background-position: center;
            background-size: cover;
        }
        .SignUp_login{
            width: 40%;
            text-align: center;
            padding: 2%;
            .form-group {
                p {
                    text-align: left;
                }
                .formSigup{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 20px;
                    padding: 5px 15px;
                    background: #f0f0f0;
                    i{
                        color: #acacac;
                    }
                    input{
                        background: none;
                        outline: none;
                        border: none;
                        &:focus{
                            box-shadow: none;
                        }
                    }
                }
            }
        }
    }
   
    
}
@media only screen and (max-width: 500px) {
    .SignUp_loginPic{
        width: 100% !important;
        height: 100% !important;
        border-radius: 0 !important;
        box-shadow: none !important;
        .SignUp_pic{
            display: none;
        }
        .SignUp_login{
            width: 100% !important;
        }
    }
}
@media only screen and (min-width: 376px) and (max-width: 1024px) {
    .SignUp_pic{
        display: none;
    }
    .SignUp_login{
        width: 100% !important;
    }
}
